@CHARSET "UTF-8";

.table-eventType{
	font-family: arial;
	background-color: grey;
	border: medium;
}

#footer {
	width: 100%;
	padding: 50px;
	text-align: center;
	color: #00cc66
}

#footer a {
	color: #00cc66
}